<!-- Navbar -->
<app-navbar class="mt-5"></app-navbar>
<!-- End of Navbar -->
<!-- <a href="/register" class="nav-link" routerLink="/register" *ngIf="!isLoggedIn && false">Sign Up</a> -->
<a href="/login" class="nav-link float-right text-light" routerLink="/login" *ngIf="!isLoggedIn">Se connecter</a>
<!-- <a class="nav-link" href (click)="logout()" *ngIf="isLoggedIn">Logout</a> -->

<!-- <a class="nav-link" href="/admin" routerLink="/admin" *ngIf="showAdminBoard || showModeratorBoard">
    Administration
</a>
<a class="nav-link" href="/user" routerLink="/user" *ngIf="showUserBoard">
    My Account
</a> -->

<!-- Loader -->
<ngx-ui-loader 
    [loaderId]="'homepage-loader'" 
    [fgsColor]="'#ff7518'" 
    [pbColor]="'#ff7518'"
    [fgsType]="'three-bounce'"
    [overlayColor]="'rgba(40, 40, 40, 0.8)'"
></ngx-ui-loader>
<!-- End of Loader -->

<div class="pt-5">
    <h1 class="text-center pt-5">Bienvenue sur Smaaash.fr</h1>
    <p class="text-center pt-5">Smaaash.fr est une application en cours de développement.</p>
</div>

<div class="container-fluid">

    
    
    <h3 class="mb-3">Pourquoi cette application?</h3>
    <p>Smaaash.fr est une application à destination des clubs & associations de tennis de table.</p>
    <p>Ses objectifs :</p>
    <ul class="mb-5">
        <li>Accélérer et faciliter la gestion de tournois</li>
        <li>Faciliter l'échange entre organisateurs et joueurs</li>
        <li>Donner de la visibilité aux clubs & associations</li>
        <li>Dynamiser la vie des clubs & associations</li>
    </ul>

    <h3 class="mt-5 mb-3">Release Notes : </h3>

    <h5>v1.0, Du 15/10/21 au 21/11/2021</h5>
    <h6>Espace d'administration</h6>
    <ul>
        <li>Gestion des clubs</li>
        <li>Gestion d'utilisateurs</li>
        <li>Création de tournois avec poules et inscriptions</li>
    </ul>
    <h6>Espace club</h6>
    <ul class="mb-5">
        <li>Mise à disposition d'un sous-domaine par club ou association</li>
        <li>Formulaire d'inscription aux tournois du club ou association, accessible via le sous-domaine</li>
    </ul>


    <h3 class="mt-5 mb-3">Prochaine version : </h3>

    <h5>v1.1, Du 21/11/21 au 25/12/2021</h5>
    <h6>Espace d'administration</h6>
    <ul>
        <li>Gestion des tables et plan de salle</li>
        <li>Gestion des matchs et affectation aux tables</li>
        <li>Possibilité de réaliser un export Excel des inscrits aux tournois, formatté pour le SPIDD</li>
    </ul>
    <h6>Espace club</h6>
    <ul class="mb-5">
        <li>Page "live" permettant de projetter le plan de salle et les matchs définis via un rétroprojecteur</li>
    </ul>

    <h3 class="mt-5 mb-3">Développé par Jacques Garré</h3>

    <p>Je suis à votre disposition pour échanger et réaliser une démonstration de l'application</p>
    <p>Je suis également à l'écoute de nouvelles idées de fonctionnalités ou de besoins rencontrés par votre club.</p>

    <h6>Vous pouvez me contacter : </h6>
    <ul class="mb-5">
        <li>Via linkedin : <a class="text-light" target="_blank" href="https://www.linkedin.com/in/jacques-garre-1b3a5014a/">https://www.linkedin.com/in/jacques-garre/</a></li>
        <li>Par email: jcqs.gr@gmail.com</li>
    </ul>

</div>


<!-- <div class="container-fluid">
    <h3 class="text-light">Les tournois</h3>
    <div class="row">
        <div class="col-md-2 rounded-0" *ngFor="let tournament of tournaments">
            <div class="card bg-dark shadow border-0 rounded-0">
                <div class="card-body rounded-0">
                    <h5 class="card-title">{{tournament.name}}</h5>
                    <p class="card-text">
                        Organisé par <a href="/{{tournament.organization.subdomain}}" class="text-orange">{{tournament.organization.name}}</a>
                    </p>
                    <p class="card-text">
                        débute le {{tournament.startDate  | date:'dd/MM/yyyy à HH:mm' }}<br>
                        fini le {{tournament.endDate  | date:'dd/MM/yyyy à HH:mm'}}
                    </p>
                    <a href="/{{tournament.organization.subdomain}}/inscription/{{tournament.uri}}" class="btn  btn-dark-gray btn-sm" *ngIf="tournament.registrationFormOpen">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="text-light">Les clubs</h3>
    <div class="row">
        <div class="col-md-2 rounded-0" *ngFor="let organization of organizations">
            <div class="card bg-dark shadow border-0 rounded-0">
                <div class="card-body rounded-0">
                    <h5 class="card-title">{{organization.name}}</h5>
                    <p class="card-text"></p>
                    <a href="/{{organization.subdomain}}/articles/" class="btn btn-dark-gray btn-sm">Voir l'actualité</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h3 class="text-light">L'actualité</h3>
    <div class="row">
        <ng-container *ngFor="let organization of organizations">
            <div class="card bg-dark col-md-2">
                <div class="card-body bg-dark-gray">
                    <h5 class="card-title">{{organization.name}}</h5>
                    <p class="card-text"></p>
                    <a href="/{{organization.subdomain}}" class="btn btn-primary btn-sm">Voir l'actualité</a>
                </div>
            </div>
        </ng-container>
    </div>
</div> -->
