<div class="col-md-12 text-gray mb-5">
    <div class="card card-container shadow rounded-0 bg-dark-gray border-0 border-left-danger">
        <div class="card-header bg-dark text-light border-gray border-0 rounded-0 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-10">
                    <h6 class="mb-0"><fa-icon [icon]="faClipboardList" class="mr-2"></fa-icon>Inscriptions</h6>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-dark-gray btn-sm float-right" (click)=createRegistration()><fa-icon [icon]="faPlus" class="mr-2"></fa-icon>Ajouter une inscription</a>
                </div>
            </div>
        </div>
        <div class="card-body text-light p-0">

            <!-- Loader -->
            <ngx-ui-loader 
            [loaderId]="'submodule-loader-registrations'" 
            [fgsColor]="'rgba(255,255,255,0)'" 
            [pbColor]="'#ff7518'"
            [fgsType]="'three-bounce'"
            [overlayColor]="'rgba(40, 40, 40, 1)'"
            ></ngx-ui-loader>
            <!-- End of Loader -->

            <p class="w-100 text-center pt-3" *ngIf="!registrations.length"><i>Aucune inscription trouvée</i></p>

            <!--This is your master form-->
            <form [formGroup]="registrationForm" *ngIf="registrations.length">

                <table class="table table-hover m-0">
                    <thead class="text-light border-top-0 border-right-0 border-left-0">
                        <tr>
                            <th scope="col" class="text-center border-gray">Actions</th>
                            <th scope="col" class="border-gray" *ngIf="parentModule !== 'users'">Utilisateur</th>
                            <th scope="col" class="border-gray" *ngIf="parentModule !== 'users'">Licence</th>
                            <th scope="col" class="border-gray">Tournoi</th>
                            <th scope="col" class="border-gray">Tableaux</th>
                            <th scope="col" class="border-gray">À régler</th>
                            <th scope="col" class="border-gray">Réglé</th>
                            <th scope="col" class="border-gray">Dossard</th>
                            <th scope="col" class="border-gray">Présent</th>
                            <th scope="col" class="border-gray">Disponible</th>
                            <th scope="col" class="border-gray">Crée le</th>
                            <th scope="col" class="border-gray">Mis à jour le</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName="registrationDetails" *ngFor="let registration of registrations; let $index=index">
                            <tr [formGroupName]="$index"  class="bg-dark-gray">
                                <td class="text-center">
                                    <a class="btn text-light text-hover-orange" (click)=showRegistration(registration)>
                                        <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
                                    </a>
                                    <!-- <a class="btn text-light text-hover-orange">
                                        <fa-icon [icon]="faPen" class="mr-2"></fa-icon>
                                    </a> -->
                                    <a class="btn text-light text-hover-orange" (click)=deleteRegistration(registration)>
                                        <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>
                                    </a>
                                </td>
                                <td class="text-light" *ngIf="parentModule !== 'users'">
                                    <input class="form-control pl-0" type="text" formControlName="user" readonly/>
                                </td>
                                <td class="text-light" *ngIf="parentModule !== 'users'">
                                    <input class="form-control pl-0" type="text" formControlName="licenceNumber" readonly/>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" formControlName="tournament"  readonly/>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" formControlName="pools"  readonly/>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" [value]="registration.payableAmount ? registration.payableAmount : 0" readonly/>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" [value]="registration.paidAmount ? registration.paidAmount : 0" readonly/>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" formControlName="jerseyNumber" readonly/>
                                </td>
                                <td class="text-light pt-3">
                                    <fa-icon [icon]="faCheck" class="text-success mt-2" *ngIf="registration.presence"></fa-icon>
                                    <fa-icon [icon]="faTimes" class="text-danger mt-2" *ngIf="!registration.presence"></fa-icon>
                                </td>
                                <td class="text-light pt-3">
                                    <fa-icon [icon]="faCheck" class="text-success mt-2" *ngIf="registration.available"></fa-icon>
                                    <fa-icon [icon]="faTimes" class="text-danger mt-2" *ngIf="!registration.available"></fa-icon>
                                </td>

                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" [value]="registration.createdAt | date:'dd/MM/yyyy HH:mm'" readonly/>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" [value]="(registration.updatedAt !== null) ? (registration.updatedAt | date: 'dd/MM/yyyy HH:mm') : ''" readonly/>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </form>

        </div>
    </div>
</div>