<div class="modal-header bg-dark rounded-0">
    <h5 class="modal-title text-light">
        <fa-icon [icon]="faUser" class="mr-2"></fa-icon>Ajouter un utilisateur</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body text-light bg-dark-gray rounded-0">
    <form [formGroup]="addForm" (ngSubmit)="submitForm()">
        <div class="modal-boy">
            <label for="userId">Utilisateur</label>
            <div class="input-group mb-4">
                <select class="browser-default custom-select" name="userId"  id="userId" formControlName="userId">
                    <option *ngFor="let user of users" [value]="user.id">{{user.firstName}} {{user.lastName}}</option>
                </select>
                <div *ngIf="addForm.invalid && (addForm.dirty || addForm.touched)" class="invalid-feedback">
                    <div *ngIf="addForm.get('userId')?.errors?.required">
                        Utilisateur obligatoire
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-success" [disabled]="!addForm.valid" (click)="activeModal.close('save')">Ajouter</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Annuler</button>
        </div>
    </form>
</div>