<!-- Loader -->
<ngx-ui-loader [loaderId]="'page-loader'"></ngx-ui-loader>
<!-- End of Loader -->

<h4 class="mb-4 pr-4 pl-4 text-center">
    <fa-icon [icon]="faGem" class="mr-2"></fa-icon>
    Organizations
    <a [routerLink]="" class="p-0 text-secondary float-right" (click)=createOrganization()>
        <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
    </a>
</h4>


<!--This is your master form-->
<form [formGroup]="organizationForm">

    <table class="table table-hover shadow">
        <thead class="bg-dark text-light border-top-0 border-right-0 border-left-0">
            <tr>
                <th scope="col" class="text-center border-gray">Actions</th>
                <th scope="col" class="border-gray">Name</th>
                <th scope="col" class="border-gray">Subdomain</th>
                <th scope="col" class="border-gray">Created At</th>
                <th scope="col" class="border-gray">Updated At</th>
            </tr>
        </thead>
        <tbody>
            <ng-container formArrayName="organizationDetails" *ngFor="let organization of organizations; let $index=index">
                <tr [formGroupName]="$index"  class="bg-dark-gray">
                    <td class="text-center">
                        <a class="btn text-light text-hover-orange" (click)=showOrganization(organization)>
                            <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
                        </a>
                        <!-- <a class="btn text-light text-hover-orange">
                            <fa-icon [icon]="faPen" class="mr-2"></fa-icon>
                        </a> -->
                        <a class="btn text-light text-hover-orange" (click)=deleteOrganization(organization)>
                            <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>
                        </a>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="name" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="subdomain" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="organization.createdAt | date:'dd/MM/yyyy HH:mm'" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="(organization.updatedAt !== null) ? (organization.updatedAt | date: 'dd/MM/yyyy HH:mm') : ''" readonly/>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</form>