<div class="col-md-12 text-gray mt-5">
    <div class="card card-container shadow rounded-0 bg-dark-gray border-0">
        <div class="card-header bg-dark text-light border-gray border-0 rounded-0 ">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-10">
                    <h6 class="mb-0"><fa-icon [icon]="faGem" class="mr-2"></fa-icon>Organizations</h6>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-dark-gray btn-sm float-right" (click)=linkOrganization()><fa-icon [icon]="faPlus" class="mr-2"></fa-icon>Add organization</a>
                </div>
            </div>
        </div>
        <div class="card-body text-light p-0">

            <p class="w-100 text-center pt-3" *ngIf="!organizations.length"><i>No organizations found.</i></p>

            <!--This is your master form-->
            <form [formGroup]="organizationForm" *ngIf="organizations.length">

                <table class="table table-hover m-0">
                    <thead class="text-light border-0">
                        <tr>
                            <th scope="col" class="text-center border-gray">Actions</th>
                            <th scope="col" class="border-gray">Name</th>
                            <th scope="col" class="border-gray">Subdomain</th>
                            <th scope="col" class="border-gray">Created At</th>
                            <th scope="col" class="border-gray">Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName="organizationDetails"
                            *ngFor="let organization of organizations; let $index=index">
                            <tr [formGroupName]="$index" class="bg-dark-gray">
                                <td class="text-center">
                                    <a class="btn text-light text-hover-orange" (click)=showOrganization(organization)>
                                        <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
                                    </a>
                                    <!-- <a class="btn text-light text-hover-orange">
                            <fa-icon [icon]="faPen" class="mr-2"></fa-icon>
                        </a> -->
                                    <a class="btn text-light text-hover-orange"
                                        (click)=deleteOrganization(organization)>
                                        <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>
                                    </a>
                                    <a class="btn text-light text-hover-orange" (click)=removeOrganization(organization) title="Remove from organization">
                                        <fa-icon [icon]="faTimes" class="mr-2"></fa-icon>
                                    </a>
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" formControlName="name" readonly />
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text" formControlName="subdomain" readonly />
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text"
                                        [value]="organization.createdAt | date:'dd/MM/yyyy HH:mm'" readonly />
                                </td>
                                <td class="text-light">
                                    <input class="form-control pl-0" type="text"
                                        [value]="(organization.updatedAt !== null) ? (organization.updatedAt | date: 'dd/MM/yyyy HH:mm') : ''"
                                        readonly />
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>

            </form>

        </div>
    </div>
</div>