<!-- Loader -->
<ngx-ui-loader [loaderId]="'page-loader'"></ngx-ui-loader>
<!-- End of Loader -->

<h4 class="mb-4 pr-4 pl-4 text-center">
    <fa-icon [icon]="faUsers" class="mr-2"></fa-icon>
    Users
    <a [routerLink]="" class="p-0 text-secondary float-right" (click)=createUser()>
        <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
    </a>
</h4>


<!--This is your master form-->
<form [formGroup]="userForm">

    <table class="table table-hover shadow">
        <thead class="bg-dark text-light border-top-0 border-right-0 border-left-0">
            <tr>
                <th scope="col" class="text-center border-gray">Actions</th>
                <th scope="col" class="border-gray">ID</th>
                <th scope="col" class="border-gray">Email</th>
                <th scope="col" class="border-gray">First Name</th>
                <th scope="col" class="border-gray">Last Name</th>
                <th scope="col" class="border-gray">Roles</th>
                <th scope="col" class="border-gray">Created At</th>
                <th scope="col" class="border-gray">Updated At</th>
            </tr>
        </thead>
        <tbody>
            <ng-container formArrayName="userDetails" *ngFor="let user of users; let $index=index">
                <tr [formGroupName]="$index"  class="bg-dark-gray">
                    <td class="text-center">
                        <a class="btn text-light text-hover-orange" (click)=showUser(user)>
                            <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
                        </a>
                        <!-- <a class="btn text-light text-hover-orange">
                            <fa-icon [icon]="faPen" class="mr-2"></fa-icon>
                        </a> -->
                        <a class="btn text-light text-hover-orange" (click)=deleteUser(user)>
                            <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>
                        </a>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="id" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="email" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="firstName" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="lastName" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="roles" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="user.createdAt | date:'dd/MM/yyyy HH:mm'" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="(user.updatedAt !== null) ? (user.updatedAt | date: 'dd/MM/yyyy HH:mm') : ''" readonly/>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</form>