<!-- Loader -->
<ngx-ui-loader [loaderId]="'page-loader'"></ngx-ui-loader>
<!-- End of Loader -->

<h5 class="mb-4 pr-4">
    <fa-icon [icon]="faSitemap" class="mr-2"></fa-icon>
    <a routerLink="/admin/tournaments" class="text-light">Tournaments</a>
    <fa-icon [icon]="faChevronRight" class="ml-2" style="font-size: 16px;"></fa-icon> {{tournament.name}}
</h5>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
        <a ngbNavLink>Settings</a>
        <ng-template ngbNavContent>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="col-md-12 text-gray">
                    <div class="card card-container shadow rounded-0 bg-dark-gray border-0 border-left-danger">
                        <div
                            class="card-header bg-dark text-light border-gray border-top-0 border-left-0 border-right-0 rounded-0 ">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-md-11">
                                    <h6 class="mb-0">
                                        <fa-icon [icon]="faInfoCircle" class="mr-2"></fa-icon>Details
                                    </h6>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-dark-gray btn-sm float-right" (click)=toggleForm()
                                        *ngIf=isReadonly>
                                        <fa-icon [icon]="faPencilAlt" class="mr-2"></fa-icon>Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-light">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="name"
                                                [(ngModel)]="form.name" required #name="ngModel"
                                                [readonly]="isReadonly" />
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
                                            Name is required!
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="organization" class="col-sm-3 col-form-label">Organization</label>
                                        <div class="col-sm-9">
                                            <select class="browser-default custom-select bg-gray text-light"
                                                name="organization" id="organization" [(ngModel)]="form.organization"
                                                #organization="ngModel" [disabled]="isReadonly">
                                                <option *ngFor="let organization of organizations"
                                                    [value]="'/api/organizations/' + organization.id">
                                                    {{organization.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="address" class="col-sm-3 col-form-label">Address</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="address"
                                                [(ngModel)]="form.address" required #address="ngModel"
                                                [readonly]="isReadonly" />
                                        </div>
                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="address.errors && f.submitted">
                                            Address is required!
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="city" class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="city"
                                                [(ngModel)]="form.city" required #city="ngModel"
                                                [readonly]="isReadonly" />
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="city.errors && f.submitted">
                                            City is required!
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="postalCode" class="col-sm-3 col-form-label">Postal code</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="postalCode"
                                                [(ngModel)]="form.postalCode" required #postalCode="ngModel"
                                                [readonly]="isReadonly" />
                                        </div>
                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="postalCode.errors && f.submitted">
                                            Postal code is required!
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="country" class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="country"
                                                [(ngModel)]="form.country" required #country="ngModel"
                                                [readonly]="isReadonly" />
                                        </div>
                                        <div class="alert alert-danger" role="alert"
                                            *ngIf="country.errors && f.submitted">
                                            Country is required!
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="uri" class="col-sm-3 col-form-label">Uri</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="uri"
                                                [(ngModel)]="form.uri" required #uri="ngModel"
                                                [readonly]="isReadonly" />
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="uri.errors && f.submitted">
                                            Uri is required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label for="createdAt" class="col-sm-3 col-form-label">Created at</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="createdAt"
                                                [value]="form.createdAt | date:'dd/MM/yyyy HH:mm'" required readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="updatedAt" class="col-sm-3 col-form-label">Updated at</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control bg-gray pl-2" name="updatedAt"
                                                [value]="form.updatedAt | date:'dd/MM/yyyy HH:mm'" required readonly />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="creator" class="col-sm-3 col-form-label">Created By</label>
                                        <div class="col-sm-9">
                                            <select class="browser-default custom-select bg-gray text-light"
                                                name="creator" id="creator" [(ngModel)]="form.creator"
                                                #creator="ngModel" disabled>
                                                <option *ngFor="let user of users" [value]="'/api/users/' + user.id">
                                                    {{user.firstName}} {{user.lastName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="startDate" class="col-sm-3 col-form-label">Start date</label>
                                        <div class="col-sm-9">
                                            <input class="form-control bg-gray pl-2" [(ngModel)]="startDate"
                                                [ngModelOptions]="{standalone: true}"
                                                [owlDateTimeTrigger]="startDatePicker" [owlDateTime]="startDatePicker"
                                                [readonly]="isReadonly">
                                            <owl-date-time #startDatePicker [disabled]="isReadonly"></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="endDate" class="col-sm-3 col-form-label">End date</label>
                                        <div class="col-sm-9">
                                            <input class="form-control bg-gray pl-2" [(ngModel)]="endDate"
                                                [ngModelOptions]="{standalone: true}"
                                                [owlDateTimeTrigger]="endDatePicker" [owlDateTime]="endDatePicker"
                                                [readonly]="isReadonly">
                                            <owl-date-time #endDatePicker [disabled]="isReadonly"></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="registrationFormOpen" class="col-sm-3 col-form-label">Registration
                                            Form</label>
                                        <div class="col-sm-9">
                                            <select class="browser-default custom-select bg-gray text-light"
                                                name="registrationFormOpen" id="registrationFormOpen"
                                                [(ngModel)]="form.registrationFormOpen" #registrationFormOpen="ngModel"
                                                [disabled]="isReadonly">
                                                <option value="false">Closed</option>
                                                <option value="true">Open</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2" *ngIf=!isReadonly>
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-outline-success mr-2" *ngIf=!isReadonly (click)=onSubmit()>
                                        Save
                                    </button>
                                    <a class="btn btn-outline-danger" *ngIf=!isReadonly
                                        (click)="toggleForm(); resetForm()">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-gray mt-5">
                    <div class="card card-container shadow rounded-0 bg-dark-gray border-0 border-left-danger">
                        <div
                            class="card-header bg-dark text-light border-gray border-top-0 border-left-0 border-right-0 rounded-0 ">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col-md-11">
                                    <h6 class="mb-0">
                                        <fa-icon [icon]="faAlignLeft" class="mr-2"></fa-icon>Information
                                    </h6>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-dark-gray btn-sm float-right" (click)=toggleForm()
                                        *ngIf=isReadonly>
                                        <fa-icon [icon]="faPencilAlt" class="mr-2"></fa-icon>Edit
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-light">
                            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <quill-view
                                                [content]="form.description !== undefined ? form.description : '<i>No information filled</i>'"
                                                format="html" theme="snow" *ngIf="isReadonly"></quill-view>
                                            <div class="col-sm-12">
                                                <quill-editor [(ngModel)]="form.description" name="description"
                                                    *ngIf="!isReadonly"></quill-editor>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2" *ngIf=!isReadonly>
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-outline-success mr-2" *ngIf=!isReadonly
                                            (click)=onSubmit()>
                                            Save
                                        </button>
                                        <a class="btn btn-outline-danger" *ngIf=!isReadonly
                                            (click)="toggleForm(); resetForm()">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Pools</a>
        <ng-template ngbNavContent>
            <app-module-pools-submodule [parentModule]="'tournaments'" [parent]="tournament"></app-module-pools-submodule>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Registrations</a>
        <ng-template ngbNavContent>
            <app-module-registrations-submodule [parentModule]="'tournaments'" [parent]="tournament"></app-module-registrations-submodule>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<!-- Sous module users -->
<!-- <app-module-users-submodule [parentModule]="'tournaments'" [parent]="tournament"></app-module-users-submodule> -->
<!-- End::Sous module users -->