<!-- Loader -->
<ngx-ui-loader [loaderId]="'page-loader'"></ngx-ui-loader>
<!-- End of Loader -->

<h5 class="mb-4 pr-4">
    <fa-icon [icon]="faObjectUngroup" class="mr-2"></fa-icon>
    Pools
    <a [routerLink]="" class="p-0 text-secondary float-right" (click)=createPool()>
        <fa-icon [icon]="faPlus" class="mr-2"></fa-icon>
    </a>
</h5>

<!--This is your master form-->
<form [formGroup]="poolForm">

    <table class="table table-hover table-striped shadow border-left-danger">
        <thead class="bg-dark text-light border-top-0 border-right-0 border-left-0">
            <tr>
                <th scope="col" class="text-center border-gray">Actions</th>
                <th scope="col" class="border-gray">Tournament</th>
                <th scope="col" class="border-gray">Name</th>
                <th scope="col" class="border-gray">Min points</th>
                <th scope="col" class="border-gray">Max points</th>
                <th scope="col" class="border-gray">Price</th>
                <th scope="col" class="border-gray">Start Date</th>
                <th scope="col" class="border-gray">End Date</th>
                <th scope="col" class="border-gray">Created at</th>
                <th scope="col" class="border-gray">Updated at</th>
            </tr>
        </thead>
        <tbody>
            <ng-container formArrayName="poolDetails" *ngFor="let pool of pools; let $index=index">
                <tr [formGroupName]="$index"  class="bg-dark-gray">
                    <td class="text-center">
                        <a class="btn text-light text-hover-orange" (click)=showPool(pool)>
                            <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
                        </a>
                        <!-- <a class="btn text-light text-hover-orange">
                            <fa-icon [icon]="faPen" class="mr-2"></fa-icon>
                        </a> -->
                        <a class="btn text-light text-hover-orange" (click)=deletePool(pool)>
                            <fa-icon [icon]="faTrash" class="mr-2"></fa-icon>
                        </a>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="tournament"  readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="name" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="minPoints" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="maxPoints" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" formControlName="price" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="pool.startDate | date:'dd/MM/yyyy HH:mm'" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="pool.endDate | date:'dd/MM/yyyy HH:mm'" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="pool.createdAt | date:'dd/MM/yyyy HH:mm'" readonly/>
                    </td>
                    <td class="text-light">
                        <input class="form-control pl-0" type="text" [value]="(pool.updatedAt !== null) ? (pool.updatedAt | date: 'dd/MM/yyyy HH:mm') : ''" readonly/>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</form>