<!-- Loader -->
<ngx-ui-loader [loaderId]="'page-loader'"></ngx-ui-loader>
<!-- End of Loader -->

<h5 class="mb-4 pr-4">
    <fa-icon [icon]="faObjectUngroup" class="mr-2"></fa-icon>
    <a routerLink="/admin/pools" class="text-light">Pools</a>
    <fa-icon [icon]="faChevronRight" class="ml-2" style="font-size: 16px;"></fa-icon> {{pool.name}}
</h5>

<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="col-md-12 text-gray">
        <div class="card card-container shadow rounded-0 bg-dark-gray border-0 border-left-danger">
            <div
                class="card-header bg-dark text-light border-gray border-top-0 border-left-0 border-right-0 rounded-0 ">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-11">
                        <h6 class="mb-0">
                            <fa-icon [icon]="faInfoCircle" class="mr-2"></fa-icon>Details
                        </h6>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-dark-gray btn-sm float-right" (click)=toggleForm()
                            *ngIf=isReadonly>
                            <fa-icon [icon]="faPencilAlt" class="mr-2"></fa-icon>Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body text-light">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bg-gray pl-2" name="name"
                                    [(ngModel)]="form.name" required #name="ngModel"
                                    [readonly]="isReadonly" />
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
                                Name is required!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tournament" class="col-sm-3 col-form-label">Tournament</label>
                            <div class="col-sm-9">
                                <select class="browser-default custom-select bg-gray text-light"
                                    name="tournament" id="tournament" [(ngModel)]="form.tournament"
                                    #tournament="ngModel" [disabled]="isReadonly">
                                    <option *ngFor="let tournament of tournaments"
                                        [value]="'/api/tournaments/' + tournament.id">
                                        {{tournament.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="minPoints" class="col-sm-3 col-form-label">Minimum points</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bg-gray pl-2" name="minPoints"
                                    [(ngModel)]="form.minPoints" #minPoints="ngModel"
                                    [readonly]="isReadonly" />
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="minPoints.errors && f.submitted">
                                Minimum points is required!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="maxPoints" class="col-sm-3 col-form-label">Maximum points</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bg-gray pl-2" name="maxPoints"
                                    [(ngModel)]="form.maxPoints" #maxPoints="ngModel"
                                    [readonly]="isReadonly" />
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="maxPoints.errors && f.submitted">
                                Maximum points is required!
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="price" class="col-sm-3 col-form-label">Price</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bg-gray pl-2" name="price"
                                    [(ngModel)]="form.price" #price="ngModel"
                                    [readonly]="isReadonly" />
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="price.errors && f.submitted">
                                Price is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="createdAt" class="col-sm-3 col-form-label">Created at</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bg-gray pl-2" name="createdAt"
                                    [value]="form.createdAt | date:'dd/MM/yyyy HH:mm'" required readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="updatedAt" class="col-sm-3 col-form-label">Updated at</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control bg-gray pl-2" name="updatedAt"
                                    [value]="form.updatedAt | date:'dd/MM/yyyy HH:mm'" required readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="startDate" class="col-sm-3 col-form-label">Start date</label>
                            <div class="col-sm-9">
                                <input class="form-control bg-gray pl-2" [(ngModel)]="startDate"
                                    [ngModelOptions]="{standalone: true}"
                                    [owlDateTimeTrigger]="startDatePicker" [owlDateTime]="startDatePicker"
                                    [readonly]="isReadonly">
                                <owl-date-time #startDatePicker [disabled]="isReadonly"></owl-date-time>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="endDate" class="col-sm-3 col-form-label">End date</label>
                            <div class="col-sm-9">
                                <input class="form-control bg-gray pl-2" [(ngModel)]="endDate"
                                    [ngModelOptions]="{standalone: true}"
                                    [owlDateTimeTrigger]="endDatePicker" [owlDateTime]="endDatePicker"
                                    [readonly]="isReadonly">
                                <owl-date-time #endDatePicker [disabled]="isReadonly"></owl-date-time>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" *ngIf=!isReadonly>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-outline-success mr-2" *ngIf=!isReadonly (click)=onSubmit()>
                            Save
                        </button>
                        <a class="btn btn-outline-danger" *ngIf=!isReadonly
                            (click)="toggleForm(); resetForm()">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-gray mt-5 mb-5">
        <div class="card card-container shadow rounded-0 bg-dark-gray border-0 border-left-danger">
            <div
                class="card-header bg-dark text-light border-gray border-top-0 border-left-0 border-right-0 rounded-0 ">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-11">
                        <h6 class="mb-0">
                            <fa-icon [icon]="faAlignLeft" class="mr-2"></fa-icon>Information
                        </h6>
                    </div>
                    <div class="col-md-1">
                        <a class="btn btn-dark-gray btn-sm float-right" (click)=toggleForm()
                            *ngIf=isReadonly>
                            <fa-icon [icon]="faPencilAlt" class="mr-2"></fa-icon>Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body text-light">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <quill-view
                                    [content]="form.description !== undefined ? form.description : '<i>No information filled</i>'"
                                    format="html" theme="snow" *ngIf="isReadonly"></quill-view>
                                <div class="col-sm-12">
                                    <quill-editor [(ngModel)]="form.description" name="description"
                                        *ngIf="!isReadonly"></quill-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" *ngIf=!isReadonly>
                        <div class="col-md-12 text-right">
                            <button class="btn btn-outline-success mr-2" *ngIf=!isReadonly
                                (click)=onSubmit()>
                                Save
                            </button>
                            <a class="btn btn-outline-danger" *ngIf=!isReadonly
                                (click)="toggleForm(); resetForm()">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>

<app-module-registrations-submodule [parentModule]="'pools'" [parent]="pool"></app-module-registrations-submodule>

<!-- Sous module users -->
<!-- <app-module-users-submodule [parentModule]="'pools'" [parent]="pool"></app-module-users-submodule> -->
<!-- End::Sous module users -->