<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/" routerLinkActive="active">
        <div class="sidebar-brand-icon rotate-n-15">
            <fa-icon [icon]="faTrophy" class="mr-2"></fa-icon>
        </div>
        <div class="sidebar-brand-text mx-3">{{ appName }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading mb-2 text-center" *ngIf="showAdminBoard || showModeratorBoard">
        Administration
    </div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" *ngIf="showAdminBoard">
            <a class="nav-link text-hover-orange" routerLink="/">
                <fa-icon [icon]="faTachometerAlt" class="mr-2"></fa-icon>
                <span>Dashboard</span>
                <fa-icon [icon]="faChevronRight" class="float-right mt-1 arrowRight"></fa-icon>
            </a>
        </li>
    

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link text-hover-orange" routerLink="/admin/organizations" routerLinkActive="active">
            <fa-icon [icon]="faGem" class="mr-2"></fa-icon>
            <span>Organizations</span>
            <fa-icon [icon]="faChevronRight" class="float-right mt-1 arrowRight"></fa-icon>
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link text-hover-orange" routerLink="/admin/users" routerLinkActive="active">
            <fa-icon [icon]="faUser" class="mr-2" style="margin-left: 2px;"></fa-icon>
            <span style="margin-left: 2px;">Users</span>
            <fa-icon [icon]="faChevronRight" class="float-right mt-1 arrowRight"></fa-icon>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider mt-2">
    <!-- Heading -->
    <div class="sidebar-heading mb-2 text-center" *ngIf="showAdminBoard || showModeratorBoard">
        Competition
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link text-hover-orange" routerLink="/admin/tournaments" routerLinkActive="active">
            <fa-icon [icon]="faSitemap" class="mr-2"></fa-icon>
            <span>Tournaments</span>
            <fa-icon [icon]="faChevronRight" class="float-right mt-1 arrowRight"></fa-icon>
        </a>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" *ngIf="showAdminBoard">
        <a class="nav-link text-hover-orange" routerLink="/admin/pools" routerLinkActive="active">
            <fa-icon [icon]="faObjectUngroup" class="mr-2"></fa-icon>
            <span>Pools</span>
            <fa-icon [icon]="faChevronRight" class="float-right mt-1 arrowRight"></fa-icon>
        </a>
    </li>
    

    <!-- Divider -->
    <!-- <hr class="sidebar-divider mt-2"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Heading
    </div> -->

</ul>
<!-- End of Sidebar -->