<div id="app">
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark shadow">
        <a href="#" class="navbar-brand">App</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item" *ngIf="showAdminBoard">
                <a href="/admin" class="nav-link" routerLink="admin">Administration</a>
            </li>
            <li class="nav-item" *ngIf="showModeratorBoard">
                <a href="/mod" class="nav-link" routerLink="mod">Administration</a>
            </li>
            <li class="nav-item">
                <a href="/user" class="nav-link" *ngIf="isLoggedIn && !showAdminBoard" routerLink="user">My Account</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
            </li>
            <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
            <li class="nav-item">
                <a href="/profile" class="nav-link" routerLink="profile">My Profile</a>
            </li>
            <li class="nav-item">
                <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>